<h1>About Mister Cocktail</h1>

<p>Hi, I'm Grace (<a href="https://github.com/pelicularities">pelicularities</a> on Github). Mister Cocktail is a Rails project I did as part of <a href="https://www.lewagon.com">Le Wagon's</a> Full-Stack Web Development Bootcamp (batch #454, <a href="https://www.lewagon.com/singapore)">Singapore</a>). Every student who goes through Le Wagon's web development bootcamp does the Mister Cocktail assignment, which is to build a cocktail recipe manager using Rails. This one is mine.</p>

I am too cheap to pay for <a href="https://www.thecocktaildb.com/">The CocktailDB's</a> $2/month API (I don't drink, anyway), so this website's database seed contains wildly inaccurate information about how to make cocktails.

<h2>Known Issues</h2>
This site is not fully responsive, and will have minor alignment issues on mobile devices.
