// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  background-color: rgba(0,0,0,0.8);
}

.bg-1 {
  background-image: asset-url("backgrounds/background1.jpg");
}
.bg-2 {
  background-image: asset-url("backgrounds/background2.jpg");
}
.bg-3 {
  background-image: asset-url("backgrounds/background3.jpg");
}
.bg-4 {
  background-image: asset-url("backgrounds/background4.jpg");
}
.bg-5 {
  background-image: asset-url("backgrounds/background5.jpg");
}
.bg-6 {
  background-image: asset-url("backgrounds/background6.jpg");
}
.bg-7 {
  background-image: asset-url("backgrounds/background7.jpg");
}
.bg-8 {
  background-image: asset-url("backgrounds/background8.jpg");
}
.bg-9 {
  background-image: asset-url("backgrounds/background9.jpg");
}
.bg-10 {
  background-image: asset-url("backgrounds/background10.jpg");
}
.bg-11 {
  background-image: asset-url("backgrounds/background11.jpg");
}